<section id="contact">
  <div class="container">
    <hgroup>
      <h2>FRAGEN KOSTET NICHTS.</h2>
      <p>Nimm Kontakt auf.</p>
    </hgroup>
      <form action="#">
        <input type="text" name="name" placeholder="Name" aria-label="Name" />
        <input
          type="email"
          name="email"
          placeholder="Email"
          aria-label="Email"
          autocomplete="email"
        />
        <textarea
          name="Nachricht"
          placeholder="Schreibe uns eine Nachricht..."
          aria-label="Nachricht"
        ></textarea>
        <input type="button" value="Absenden" />
      </form>
  </div>
</section>
