<section id="pricing">
  <hgroup>
    <h2>Statisch. Sicher. Schnell.</h2>
    <p>
      Schnell, sicher und zuverlässig auf Basis von HTML, CSS und Javascript.
    </p>
  </hgroup>

  <div class="grid">
    <div>
      <article role="card">
        <hgroup>
          <h3>Basic</h3>
          <p>Ideal für Freelancer oder Selbstständige</p>
        </hgroup>
        <div class="text-left">
          <ul class="checkmark">
            <li>schnelle, sichere statische Website</li>
            <li>auf Basis eines frei wählbaren Templates</li>
            <li>bis zu 4 Seiten (z.B. Home, Über uns, Projekte und Kontakt)</li>
            <li muted>
              inklusive Impressum, Datenschutzerklärung und Cookie-Banner
            </li>
          </ul>
        </div>
        <hgroup>
          <span>ab</span>
          <span class="price">799€</span>
          <p>zzgl. Domain und Hosting</p>
        </hgroup>
      </article>
    </div>
    <div>
      <article role="card">
        <hgroup>
          <h3>Professional</h3>
          <p>Ideal für Freelancer oder Selbstständige</p>
        </hgroup>
        <ul class="checkmark">
          <li>Vorteil</li>
          <li>Vorteil</li>
          <li>Vorteil</li>
          <li>Vorteil</li>
          <li>Vorteil</li>
        </ul>
        <span>ab</span>
        <span>799€</span>
        <p>zzgl. Domain und Hosting</p>
      </article>
    </div>
    <div>
      <article role="card">
        <hgroup>
          <h3>Enterprise</h3>
          <p>Ideal für Freelancer oder Selbstständige</p>
        </hgroup>
        <ul class="checkmark">
          <li>Vorteil</li>
          <li>Vorteil</li>
          <li>Vorteil</li>
          <li>Vorteil</li>
          <li>Vorteil</li>
        </ul>
        <span>ab</span>
        <span>799€</span>
        <p>zzgl. Domain und Hosting</p>
      </article>
    </div>
  </div>
</section>
