<section id="pricing">
    <hgroup>
        <h2 class="upper">Statisch. Sicher. Schnell.</h2>
        <p>Schnell, sicher und zuverlässig auf Basis von HTML, CSS und Javascript.</p>  
    </hgroup>

    <div class="grid">
        <div>
            <article role="card">
            <hgroup>
                <h3>Basic</h3>
                <p>Ideal für Freelancer oder Selbstständige</p>
            </hgroup>
            
                <ul class="checkmark">
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                </ul>
                <span>ab</span>
                <span>799€</span>
                <p>zzgl. Domain und Hosting</p>
            </article>
        </div>
        <div>
            <article role="card">
            <hgroup>
                <h3>Professional</h3>
                <p>Ideal für Freelancer oder Selbstständige</p>
            </hgroup>            
                <ul>
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                </ul>
                <span>ab</span>
                <span>799€</span>
                <p>zzgl. Domain und Hosting</p>
            </article>
        </div>
        <div>
            <article role="card">
            <hgroup>
                <h3>Enterprise</h3>
                <p>Ideal für Freelancer oder Selbstständige</p>
            </hgroup>
                <ul>
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                    <li>Vorteil</li>
                </ul>
                <span>ab</span>
                <span>799€</span>
                <p>zzgl. Domain und Hosting</p>
            </article>
        </div>

    </div>
</section>