---
---

@import "main";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Quicksand system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: LeagueSpartan, system-ui, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-weight: 800;
}

.customgradient {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center {
  text-align: center;
}

.text-left {
  text-align: left;
}

ul {
  .checkmark {
    li::before {
      content: "✓ ";
    }
  }
  li {
    list-style: none;
  }
}

//SECTIONS ------------------------

#hero {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero hgroup h1 {
  font-size: 6rem;
  line-height: 90%;
}

@media only screen and (max-width: 576px) {
  #hero hgroup h1 {
    font-size: 4rem;
  }
}

#Logo,
a:hover {
  transform: scale(105%);
  transition: all 0.1s ease-in;
}

.customFooter {
  background-color: var(--pico-color);
  color: var(--pico-background-color);
  fill: var(--pico-background-color);
}

section {
  margin: 100px 0px;
}

hgroup {
  margin-bottom: 35px;
}

//Logo and Animation -----------------------------------------

#LogoDiv {
  border-radius: var(--pico-border-radius);
  border: 0.1rem solid var(--pico-secondary);
  padding: 0.1rem 0.2rem;
  animation: borderAnimation 1.2s ease-in forwards;
}

#frame path:nth-child(1) {
  animation: letterAnimation 0.3s ease-in 0s forwards;
}
#frame path:nth-child(2) {
  animation: letterAnimation 0.3s ease-in 0.1s forwards;
}
#frame path:nth-child(3) {
  animation: letterAnimation 0.3s ease-in 0.2s forwards;
}
#frame path:nth-child(4) {
  animation: letterAnimation 0.3s ease-in 0.3s forwards;
}
#frame path:nth-child(5) {
  animation: letterAnimation 0.3s ease-in 0.4s forwards;
}

@keyframes borderAnimation {
  0% {
    border-color: rgba(0, 0, 0, 0);
  }
  80% {
    border-color: rgba(0, 0, 0, 0);
  }
  100% {
    border-color: var(--pico-scondary);
  }
}

@keyframes letterAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer div a{
  margin-right: 20px;
}
